<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>品牌列表案例</title>
  <link rel="stylesheet" href="./lib/bootstrap.css">
  <link rel="stylesheet" href="./css/brandlist.css">
</head>

<body>

  <div id="app">
    <!-- 卡片区域 -->
    <div class="card">
      <div class="card-header">
        添加品牌
      </div>
      <div class="card-body">
        <!-- 添加品牌的表单区域 -->
        <!-- form 表单元素有submit 事件 -->
        <form @submit.prevent="add">
          <div class="form-row align-items-center">
            <div class="col-auto">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">品牌名称</div>
                </div>
                <input type="text" class="form-control" placeholder="请输入品牌名称" v-model.trim="brand">
              </div>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-2">添加</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- 表格区域 -->
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">品牌名称</th>
          <th scope="col">状态</th>
          <th scope="col">创建时间</th>
          <th scope="col">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in list" :key="item.id">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>
            <div class="custom-control custom-switch">
              <!-- 使用v-modle 实现双向绑定 -->
              <input type="checkbox" class="custom-control-input" :id="'cb'+item.id" v-model="item.status" >
              <!-- 使用v-if 结合 v-else 实现按需渲染   -->
              <label class="custom-control-label" :for="'cb'+item.id" v-if="item.status">已启用</label>
              <label class="custom-control-label" :for="'cb'+item.id" v-else>已禁用</label>
            </div>
          </td>
          <td>{{item.time  | dateformat}}</td>
          <td>
            <a href="javascript:;" @click="del(item.id)">删除</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- 导入dayjs文件，在window全局，就可以使用dayjs()方法了 -->
  <script src="../day3/lib/dayjs.min.js"></script>
<script src="./lib/vue-2.6.12.js"></script>
<script>
  Vue.filter('dateformat',(time)=>{
    //1 对time 进行格式化处理 得到 年 - 月- 日 - 时 - 分 - 秒
    //2 return 出去
     return   dayjs(time).format('YYYY-M-D H:mm:ss ')

    //直接调用 dayjs() 得到的时当前时间
    //dayjs(给定的日期时间) 的到指定的日期
  })
  new Vue({
    el:"#app",
    data:{
     list:[
      {id:1,name:"哈哈",status:true,time:new Date()},
      {id:2,name:"呼呼",status:false,time:new Date()},
      {id:3,name:"嘿嘿",status:true,time:new Date()},
      {id:4,name:"桀桀",status:true,time:new Date()},
     ],
     brand:'',
     //nextId是下一个可用Id
     nextId:5,
    },
    methods: {
      //点击链接，删除对应的品牌信息
      del(id){
        this.list = this.list.filter(item=>item.id !== id)
      },
      //阻止表单的默认提交行为 触发add 方法
      add(){
        //如果判断到brand 的值为空字符串 则return出去
        if(this.brand ==='')return alert('请勿输入空值！！！！')

        //如果没有被return 出去，应该执行添加逻辑
        //1 先把要添加的品牌对象，整理出来
        //2 往this.list 数组中push 步骤1 中得到的对象
        //3 清空 this.brand ; 让this.nextId 自增加1
        const obj = {
          id : this.nextId,
          name: this.brand,
          status:true,
          time: new Date()
        }
        this.list.push(obj)
        this.brand=''
        this.nextId++
      }
    },
    
  })
</script>
</body>

</html>